{% extends 'base.html'%}

{% block header %} <header> Create your test with multiple choise questions </header> {% endblock %}
{% block testTitle %} <input id="testName" placeholder="enter test name" autofocus required/>{% endblock %}
{% block form %}
    
    <form>
        <p> Question [count=1, count++]</p>
        <input id="questText" placeholder="enter question" required/>
        <p id="answers">
            <input type="checkbox" id="ans1"/><label for="ans1"> <input placeholder="answer"required /></label> </br>
            <input type="checkbox" id="ans2"/><label for="ans2"> <input placeholder="answer" required /></label> </br>
            <button>Add answer</button> <!-- thegar ytt er a add answer aetti ad baetast vid ny lina med check box-->
            <p>
                Deadline <input id="deadline" type="date">
            </p>
        </p>
    </form>
        <p>
            <button>Add question</button> <!-- Her aetti ad koma virkni til ad bua til nytt test form -->
        </p>
        <p>
            <input type="submit"> <!-- Her tharf ad koma inn virkni til ad vista pof --> 
        </p>
{% endblock %}