{% extends 'base.html' %}

{% block header %} <header> Create your test</header> {% endblock %}
{% block title %} Add a question {% endblock %}
<h2>{{ test.name }}</h2>
{% block qlist %}
<ul>
{% for question in test.question_set.all %}
    <li>{{ question.question }}</li>
{% endfor %}
</ul>
{% endblock %}
{% block form %}
    
    <form action="/{{ test.id }}/addQuestion/" method="post">
    {% csrf_token %}
        <input id="question" name="question" placeholder="enter question" autofocus required/>
        <input id="points" name="points" placeholder="points" required/>
        <p>
            <input type="submit" > <!-- Her tharf ad koma inn virkni til ad vista pof --> 
        </p>
    </form>
{% endblock %}