{% extends 'base.html' %}

{% block header %} <header> Create your test</header> {% endblock %}

{% block title %} Add a question {% endblock %}
<h2>{{ test.name }}</h2>

{% block qlist %}
<ul>
{% for question in test.question_set.all %}
    <li>{{ question.question  }}({{ question.points }})</li>
    
    <ul>
    {% for answer in question.answer_set.all %}
        <li>{{ answer.answer }} {{ answer.correct }}</li>
    {% endfor %}
    </ul>
    
{% endfor %}
</ul>

{% endblock %}

{% block answerform %}
    {% if current %} 
        <form action="/{{ current.id }}/addAnswer/" method="post">  
        {% csrf_token %}
            <input id="answer" name="answer" placeholder="enter answer" autofocus {% if not question %} required {% endif %} />
            <input type="checkbox" id="correct" name="correct" placeholder="correct" />
            <p>
                <input type="submit" value="Skra svar" > 
            </p>
        </form>
    {% endif %}
    <!-- { % endif %} -->
    
{% endblock %}

{% block form %}
    <form action="/{{ test.id }}/addQuestion/" method="post">
    {% csrf_token %}
        <input id="question" name="question" placeholder="enter question" autofocus required/>
        <input id="points" name="points" placeholder="points" required/>
        <p>
            <input type="submit" value="Skra spurningu"> 
        </p>
    </form>
{% endblock %}