{% extends 'base.html' %}

{% block header %} <header> Create your test</header> {% endblock %}
{% block title %} Stuff {% endblock %}
{% block form %}
    
    <form action="/createIt/" method="post">
    {% csrf_token %}
        <input id="name" name="name" placeholder="enter test name" autofocus required/>
        <input id="author" name="author" placeholder="author" autofocus required/>
            <p>
                Deadline <input id="expire" name="expires" type="date">
            </p>
        <p>
            <input type="submit" > <!-- Her tharf ad koma inn virkni til ad vista pof --> 
        </p>
    </form>
{% endblock %}